.lgpd {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: #5180e0;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.lgpd a {
    color: white;
}

.lgpd button {
    background-color: #04a600;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}