body {
    background: rgb(0, 16, 42);
    font: normal 15pt Arial
}

header {
    color: white;
    text-align: center;
}

.pLinks {
    display: flex;
    align-items: center; /*centraliza horizontalmente*/
    justify-content: center; /*cetraliza verticalmente*/
}

.iLogo {
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
}

.iLogoFull {
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
}

h2 {
    color: rgb(0, 16, 42);
    text-align: center;    	
}

h3, h4 {
    color: rgb(0, 16, 42);
    line-height: 0em;
}

section {
    color: rgb(0, 16, 42);
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.pLogoRoda {
    align-items: center; /*centraliza horizontalmente*/
    justify-content: center; /*cetraliza verticalmente*/
}

.iLogoRoda {
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}