@charset "UTF-8";

header > h1 {
    font-size: 2em;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
}

h1, h2, h3, p, dd, dt, ul, li, a {
    color: black;
    font-weight: bold;
}

h2 {
    padding: 0px 0px 16px 0px;
}

hr {
    background-color: var(--cor0);
    border-radius: 8px;
    padding: 0px;
    margin: 8px 0px 16px 0px;
}

#contatoLink {
    display: none;
}

#objetivos {
    margin: 0px;
    padding: 0px;
}

#fLink {
    display: none;
}

#fPrint {
    display: none;
}

#fBy {
    padding: 32px 0px 0px 0px;
    margin-bottom: 20px;
}

#botao {
    display: none;
}

footer::after {
    content: 'Busco novos desafios e acredito que sua empresa possa ter interesse em minhas qualificações.Estou à disposição para uma entrevista pessoal para que possa descrever, com mais detalhes, minhas experiências.'
    'Muito Obrigado pela atenção.        -'
    'Projetos: https://roondoss.github.io/projetos/home/           -'
    'Repositório: https://github.com/roondoss';
}