@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("../img/bkg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

main {
    
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px 10px 10px 10px;
    max-width: 1280px;
    min-height: 53vh;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}



/*--TÃTULOS----------------------------------------------------------------------------------------------------*/

h1 {
    text-align: center;
    font-weight: bolder;
    color: var(--cor5);
}

h2 {
    font-weight: normal;
    color: var(--cor4);
    padding: 4px 0px 16px 0px;
}

h3 {
    font-weight: normal;
    color: var(--cor3);
}

/*--LINKS----------------------------------------------------------------------------------------------------*/

a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    
    font-weight: bold;
}

/*--HEADER----------------------------------------------------------------------------------------------------*/

header {
    text-align: center;
    padding-top: 32px;
}



p {
    text-indent: 16px;
    padding-bottom: 16px;
    padding-top: 2px;
}

hr {
    background-color: var(--cor0);
    border-radius: 8px;
    padding: 4px;
    margin: 32px 0px 8px 0px;
}

/*------------------------------------------------------------------------------------------------------*/

#contato {
    text-align: center;
    
}

/*------------------------------------------------------------------------------------------------------*/
#habilidades {
    text-align: center;
    padding-top: 32px;
}

#idiomas {
    text-align: center;
    padding-top: 32px;
}

#objetivos {
    text-align: center;
    padding-top: 32px;
}

/*------------------------------------------------------------------------------------------------------*/

#resumo {
    text-align: justify;
}

#resumo > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#historico > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#graduacao > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#tecnico > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#cursoCer > a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: normal;
}

#cursoCer a:hover {
    
    font-weight: bold;
}

#cursoCer a::after {
    content: '\00a0\2197';
}

#cursoCer > h2 {
    text-align: center;
}

#cursoCer > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}

/*------------------------------------------------------------------------------------------------------*/

#cursoCom > h2 {
    text-align: center;
}

#cursoCom > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}

/*--FOOTER----------------------------------------------------------------------------------------------------*/

footer {
    text-align: center;
    font-weight: lighter;
    margin: 32px;
}

#fLink {
    padding: 0px;
    margin: 0px;
}

#fPrint {
    padding: 0px;
    margin: 0px;
}

#fBy {
    padding: 32px 0px 0px 0px;
    margin: 0px;
}





@media screen and (max-width: 767.98px) {
.barra {
    display: none;
}    
    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
   
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
   
}

@media screen and (min-width: 1200px) {
   
}