
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --font01: 'Inconsolata', monospace; 
    --font02: 'Sriracha', cursive;
    
    --cor01: #0D1114;
    --cor02: #202528;
}

* {
    margin: 0px;
    padding: 0px;
}

#body {
    
    font-family: var(--font02);
    background-color: aqua;
}

/*______________________________________________________________________________________________________*/

#cabecalho {
    height: 790px;
}

/*______________________________________________________________________________________________________*/

