@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Roboto', sans-serif;
    --font2: 'Sriracha', cursive;
    
    --cor0: #D5D9E5;
    --cor1: #979EAC;
    --cor2: #606062;
    --cor3: #2973b8;
    --cor4: #1D428A;
    --cor5: #10234A;
    /* COR RODAPÉ */
    --cor6: #CDCCCC;
    --cor7: #606063;
}
/*--CORPO----------------------------------------------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background: var(--cor0);
    font-family: var(--font1);
    color: var(--cor5);
}

/*--TÍTULOS----------------------------------------------------------------------------------------------------*/

h1 {
    font-weight: bolder;
    color: var(--cor5);
}

h2 {
    font-weight: normal;
    color: var(--cor4);
}

h3 {
    font-weight: normal;
    color: var(--cor3);
}

/*--LINKS----------------------------------------------------------------------------------------------------*/

a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    
    font-weight: bold;
}

/*--HEADER----------------------------------------------------------------------------------------------------*/

header {
    text-align: center;
    padding-top: 32px;
}

/*--MAIN----------------------------------------------------------------------------------------------------*/

main {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    max-width: 800px;
    min-height: 53vh;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;

    box-shadow: 5px 5px 10px var(--cor5);
}

p {
    text-indent: 16px;
    padding-bottom: 16px;
    padding-top: 2px;
}

hr {
    background-color: var(--cor0);
    border-radius: 8px;
    padding: 4px;
    margin: 20px;
}

/*------------------------------------------------------------------------------------------------------*/

#contato {
    text-align: center;
    
}

/*------------------------------------------------------------------------------------------------------*/

#objetivos {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#resumo {
    text-align: justify;
}

#resumo > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#historico > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#graduacao > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#tecnico > h2 {
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

#certificacoes > a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: normal;
}

#certificacoes a:hover {
    
    font-weight: bold;
}

#certificacoes a::after {
    content: '\00a0\2197';
}
/*
#certificacoes a::before {
    content: '\2714\00a0';
}
*/
#certificacoes > h2 {
    text-align: center;
}

#certificacoes > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}

/*------------------------------------------------------------------------------------------------------*/

#complementares > h2 {
    text-align: center;
}

#complementares > ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}

/*--FOOTER----------------------------------------------------------------------------------------------------*/

footer {
    text-align: center;
    margin: 32px;
}