
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font00: 'Oswald', sans-serif;
    --font01: 'Mulish', sans-serif; 
    --font02: 'Sriracha', cursive;
    --cor0: #D5D9E5;
    --cor1: #34401A;
    --cor2: #64732F;
    --cor3: #CAD959;
    --cor4: #de7707;
    --cor5: #252617;
}

* {
    margin: 0px;
    padding: 0px;
}

/*______________________________________________________________________________________________________*/

#bodyLocal {
    background-color: white;
    background-image: url(../img/backgroundBody.png);
    background-position: center center;
    
    
}

/*______________________________________________________________________________________________________*/

header {
    width: 100vw;
}

#navSection {
    width: 100vw;
}

#navSec1 {
    padding-top: 16px;
    text-align: center;
}

#navSec2 {
    text-align: center;
}

#navSec3 {
    text-align: center;
}

.navbar-light .navbar-toggler {
    color: var(--cor2) !important;
    border-color: var(--cor2) !important;
}

/*______________________________________________________________________________________________________*/

nav {
    background-color: white;
}
nav a {
    text-decoration: none;
    color: var(--cor1) !important;
    font-family: var(--font1);
    font-weight: bold;
    transition-duration: 1s;
}
nav a:hover {
    background-color: var(--cor4);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 4px;
}

/*______________________________________________________________________________________________________*/

.cabecalho {
    background-image: url(../img/cabecalho.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
}

.cabe1 {
    height: 25%;
}

.cabe2 {
    height: 25%;
    color: var(--cor2);
}

.cabe2 h1 {
    font-variant: small-caps;
    font-size: 4em;
    color: var(--cor1);
}

.cabe2 h3 {
    color: var(--cor2);
}

.cabe2 h6 {
    color: var(--cor2);
}

.cabe3 {
    height: 25%;
}

#btnCabecalho {
    background-color: #de7707;
    width: 300px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    color: white;
}

#btnCabecalho:hover {
    background-color: white;
    color: #de7707;
    border: 4px solid #de7707;
}

.cabe4 {
    height: 25%;
}

/*______________________________________________________________________________________________________*/

.areaComum {
    width: 100vw;
    height: 200px;
    text-align: center;
    padding-top: 80px;
}

.areaComum h2 {
    text-align: center;
    color: var(--cor2);
}

#separadorR {
    text-align: right;
    padding-bottom: 16px;
}

#separadorL {
    text-align: left;
    padding-bottom: 16px;
}

.bosque {
    width: 100vw;
    height: 400px;
    font-family: var(--font02);
    text-align: center;
    font-size: 3em;
    color: #D4E5A2;
    padding-top: 300px;
    background-image: url(../img/areaComum/bosque.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.bosqueTexto h3 {
    padding-top: 16px;
    text-align: center;
    font-family: var(--font02);
    color: var(--cor1);
}

.bosqueTexto p {
    text-align: center;
    font-family: var(--font02);
    color: var(--cor2);
    padding-top: 60px;
}

.bosqueTexto ul {
    color: var(--cor2);
    font-family: var(--font02);
    text-align: left;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns:1;
    padding-left: 20px;
    padding-top: 40px;
}

.academia {
    width: 100vw;
    height: 400px;
    font-family: var(--font02);
    text-align: center;
    font-size: 3em;
    color: #D4E5A2;
    padding-top: 300px;
    background-image: url(../img/areaComum/academia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.academiaTexto h3 {
    padding-top: 16px;
    text-align: center;
    font-family: var(--font02);
    color: var(--cor1);
}

.academiaTexto p {
    text-align: center;
    font-family: var(--font02);
    color: var(--cor2);
    padding-top: 32px;
}

.piscina {
    width: 100vw;
    height: 400px;
    font-family: var(--font02);
    text-align: center;
    font-size: 3em;
    color: #D4E5A2;
    padding-top: 300px;
    background-image: url(../img/areaComum/piscina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.piscinaTexto h3 {
    padding-top: 16px;
    text-align: center;
    font-family: var(--font02);
    color: var(--cor1);
}

.piscinaTexto p {
    text-align: center;
    font-family: var(--font02);
    color: var(--cor2);
    padding-top: 32px;
}

.quadras {
    width: 100vw;
    height: 400px;
    font-family: var(--font02);
    text-align: center;
    font-size: 3em;
    color: #D4E5A2;
    padding-top: 300px;
    background-image: url(../img/areaComum/quadras.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.quadrasTexto p {
    text-align: center;
    font-family: var(--font02);
    color: var(--cor2);
    padding-top: 32px;
}

.quadrasTexto h3 {
    padding-top: 16px;
    text-align: center;
    font-family: var(--font02);
    color: var(--cor1);
}

/*______________________________________________________________________________________________________*/

#historiaTexto {
    text-align: center;
    font-size: 2em;
    color: var(--cor1);
    font-weight: bold;
    padding-top: 150px;
}

#historiaTexto p {
    text-align: justify;
    font-size: .5em;
    color: var(--cor2);
}

#historiaImg {
    text-align: center;
    padding: 50px 0px;
    border: 2px solid white;
    border-radius: 16px;
}

/*______________________________________________________________________________________________________*/

#galeriaTexto {
    text-align: center;
    color: var(--cor1);
    padding: 16px 0px;

}

#galeriaImagem {
    margin-bottom: 32px;
}

/*______________________________________________________________________________________________________*/

.gradiente {
    height: 20px;
    background: linear-gradient(
        90deg,
        #34401A 0,
        #64732F 25%,
        #CAD959 50%,
        #CAD959 75%,
        #252617 100%);
}

.gradiente2 {
    height: 20px;
    background: linear-gradient(
        90deg,
        #252617 0,
        #CAD959 25%,
        #CAD959 50%,
        #64732F 75%,
        #34401A 100%);

}

/*______________________________________________________________________________________________________*/

.rodape {
    background-image: url(../img/rodape.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
}

.roda1 {
    height: 16%;
    background-color: rgba(255, 255, 255, 0.123);
}


.roda2 {
    height: 50%;
    font-family: var(--font00);
}

.roda2 ul {
    color: var(--cor0);
    font-family: var(--font01);
    text-align: left;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 1;
    padding-left: 20px;
    
}

.roda3 {
    height: 20%;
    font-family: var(--font00);
}

.roda4 {
    height: 14%;
    background-color: rgba(255, 255, 255, 0.123);
    font-family: var(--font02);
    color: var(--cor0);
}

/*______________________________________________________________________________________________________*/

@media screen and (max-width: 767.98px) {
    .rodape {
        background-image: url(../img/rodape.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 1200px;
        text-align: center;
        color: white;
    }

    .roda1 {
        height: 6%;
    }
    
    
    .roda2 {
        height: 60%;
    }
    
    .roda3 {
        height: 24%;
    }
    
    .roda4 {
        height: 10%;
    }

    .certificacao {
        padding: 16px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    #navPhone {
        display: none;
    }

    .cabe2 h1 {
        font-variant: small-caps;
        font-size: 6em;
    }

    #btnCabecalho {
        background-color: #de7707;
        width: 300px;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        text-transform: uppercase;
        transition: background 0.4s, color 0.4s;
        color: white;
        margin-top: 80px;
    }
    
    #btnCabecalho:hover {
        background-color: white;
        color: #de7707;
        border: 4px solid #de7707;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .cabe2 h1 {
        font-variant: small-caps;
        font-size: 6em;
    }
}

@media screen and (min-width: 1200px) {
    .cabe2 h1 {
        font-variant: small-caps;
        font-size: 6em;
    }
}
