
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --font00: 'Oswald', sans-serif;
    --font01: 'Mulish', sans-serif; 
    --font02: 'Sriracha', cursive;
    --cor0: #D5D9E5;
    --cor1: #979EAC;
    --cor2: #606062;
    --cor3: #2973b8;
    --cor4: #1D428A;
    --cor5: #10234A;
}

* {
    margin: 0px;
    padding: 0px;
}

/*______________________________________________________________________________________________________*/

body {
    background-color: var(--cor0);
    overflow-x: hidden;
}

h1 {
    font-family: var(--font00) !important;
}

h3, h6 {
    font-family: var(--font01)!important;
}

p {
    font-family: var(--font02);
    font-weight: lighter;
}

hr {
    background-color: var(--cor0);
    border-radius: 8px;
    padding: 4px;
    margin: 8px 32px;
}

/*______________________________________________________________________________________________________*/

header {
    width: 100vw;
}

#navSection {
    width: 100vw;
}

#navSec1 {
    padding-top: 16px;
    text-align: center;
}

#navSec2 {
    text-align: center;
}

#navSec3 {
    text-align: center;
}

.navbar-light .navbar-toggler {
    color: #0596d4 !important;
    border-color: #0596d4 !important;
}

/*______________________________________________________________________________________________________*/

nav {
    background-color: white;
}
nav a {
    text-decoration: none;
    color: #0596d4 !important;
    font-family: var(--font1);
    font-weight: bold;
    transition-duration: 1s;
}
nav a:hover {
    background-color: var(--cor0);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 4px;
}

/*______________________________________________________________________________________________________*/

.cabecalho {
    background-image: url(../img/cabecalho.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    text-align: center;
    color: white;
}

.cabe1 {
    height: 25%;
}

.cabe2 {
    height: 45%;
}

.cabe2 h1 {
    font-variant: small-caps;
    font-size: 4em;
}

.cabe3 {
    height: 15%;
}

.cabe4 {
    height: 15%;
}

/*______________________________________________________________________________________________________*/

#btnCabecalho {
    background-color: #0596d4;
    width: 100px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    color: white;
}

#btnCabecalho:hover {
    background-color: white;
    color: #0596d4;
    border: 4px solid #0596d4;
}

/*______________________________________________________________________________________________________*/

.gradienteH01 {
    background: linear-gradient(
        90deg,rgba(0,169,0,1) 0,
              rgba(0,169,0,1) 3%,
              rgba(34,221,18,1) 28%,
              rgba(19,199,121,1) 50%,
              rgba(1,172,245,1) 76%,
              rgba(0,120,218,1) 97%,
              rgba(0,120,218,1) 100%);

              width: 100%;
              height: 32px;
}

.gradienteH02 {
    background: linear-gradient(
        90deg,rgba(0,120,218,1) 0,
              rgba(0,120,218,1) 3%,
              rgba(1,172,245,1) 28%,
              rgba(19,199,121,1) 50%,
              rgba(34,221,18,1) 76%,
              rgba(0,169,0,1) 97%,
              rgba(0,169,0,1) 100%);

              width: 100%;
              height: 32px;
}

.gradienteV01 {
    background: linear-gradient(
        180deg,rgba(0,169,0,1) 0,
               rgba(0,169,0,1) 3%,
               rgba(34,221,18,1) 28%,
               rgba(19,199,121,1) 50%,
               rgba(1,172,245,1) 76%,
               rgba(0,120,218,1) 97%,
               rgba(0,120,218,1) 100%);

              width: 100%;
              height: 400px;
}

.gradienteV02 {
    background: linear-gradient(
        180deg,rgba(0,120,218,1) 0,
               rgba(0,120,218,1) 3%,
               rgba(1,172,245,1) 28%,
               rgba(19,199,121,1) 50%,
               rgba(34,221,18,1) 76%,
               rgba(0,169,0,1) 97%,
               rgba(0,169,0,1) 100%);

              width: 100%;
              height: 400px;

}

.gradienteH03 {
    background: linear-gradient(
        90deg,#E30270 0,
              #C5066D 16%,
              #AA096B 32%,
              #8E0C68 50%,
              #721166 66%,
              #581463 82%,
              #371860 100%);

              width: 100%;
              height: 16px;
}


/*______________________________________________________________________________________________________*/

#galeriaTexto {
    text-align: center;
    font-size: 2em;
    color: #0596d4;
    font-weight: bold;
    padding: 50px;
}

#galeriaImagem {
    text-align: center;
    margin: 8px;
    border: 2px solid white;
    border-radius: 16px;
}

#galeriaImagemCenter {
    text-align: center;
}

/*______________________________________________________________________________________________________*/


/*______________________________________________________________________________________________________*/

.by a {
    color: white;
    }

/*______________________________________________________________________________________________________*/

.rodape {
    background-image: url(../img/rodape.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
}

.roda1 {
    height: 16%;
    background-color: rgba(255, 255, 255, 0.123);
}


.roda2 {
    padding-top: 64px;
    height: 50%;
    font-family: var(--font00);
}

.roda2 ul {
    color: var(--cor0);
    font-family: var(--font01);
    text-align: left;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 1;
    padding-left: 20px;
    
}

.roda3 {
    height: 20%;
    font-family: var(--font00);
}

.roda4 {
    height: 14%;
    background-color: rgba(255, 255, 255, 0.123);
    font-family: var(--font02);
    color: var(--cor0);
    border-color: white;
    }

/*______________________________________________________________________________________________________*/
@media screen and (max-width: 767.98px) {
    
    .cabecalho {
        background-image: url(../img/cabecalhoPh.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        text-align: center;
        color: white;
    }
    
    .rodape {
        background-image: url(../img/rodape.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 1400px;
        text-align: center;
        color: white;
    }

    .roda1 {
        height: 6%;
    }
    
    
    .roda2 {
        height: 60%;
    }
    
    .roda3 {
        height: 30%;
    }
    
    .roda4 {
        height: 4%;
    }

    .certificacao {
        padding: 16px;
    }
    
}

/*______________________________________________________________________________________________________*/
@media screen and (max-width: 768px) {/*  Phone  */
    #navPhone {
        display: none;
    }

    .cabe2 h1 {
        font-variant: small-caps;
        font-size: 6em;
    }

    #btnCabecalho {
        margin-top: 64px;
    }
}

/*______________________________________________________________________________________________________*/
@media screen and (max-width: 1024px) {/*  Tablet  */
    .cabe2 h1 {
        font-variant: small-caps;
        font-size: 6em;
    }
}

/*______________________________________________________________________________________________________*/
@media screen and (max-width: 1440px) {/*  PC  */
.cabe2 h1 {
    font-variant: small-caps;
    font-size: 6em;
}
}

/*______________________________________________________________________________________________________*/
@media screen and (min-width: 1440px) {/*  TV  */

}

/*______________________________________________________________________________________________________*/