body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  text-align: center;
}

#paragraph-result {
  margin-top: 50px;
}

input {
  width: 160px;
  margin-top: 10px;
  
}

#fp02 {
  margin-top: 160px;
}

.pRoda {
  align-items: center;
  /*centraliza horizontalmente*/
  justify-content: center;
  /*cetraliza verticalmente*/
}

.imgRoda {
  /* ajusta tamanho das imagens */
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}