@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#navSec1 {
    display: none;
}

#navSection {
    display: none;
}

.rodape {
    display: none;
}

#botao {
    display: none;
}

